// Imports
@import "~bootstrap/dist/css/bootstrap.min.css";

// General
@font-face {
  font-family: 'YekanBakh';
  src: url("/assets/font/Yekan.ttf") format("truetype");
}

// styles
html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'YekanBakh';
}

.rtl {
  direction: rtl !important;
}

.eng {
  font-family: Arial, Helvetica, sans-serif;
}
